{% extends "Memories/index.html" %}
{% block core %}
        <div id="wrapper">
            <form  class="login-form" action="/auth/login" method="post">
                {% csrf_token %}
                <div class="header">
		    <h1>Авторизация</h1>
                </div>
                <div class="content">
                    {% if login_error %}
                        <label class="error">{{ login_error }}</label>
                    {% endif %}
		        <input name="username" type="text" class="input username" value="Логин" onfocus="this.value=''" />
		        <input name="password" type="password" class="input password" value="Пароль" onfocus="this.value=''" />
                </div>
                <div class="footer">
		        <input type="submit" name="submit" value="ВОЙТИ" class="ls_button" />
                    <a class="register" href="/auth/register">Регистрация</a>
                 </div>

            </form>
        </div>

{% endblock %}
